.red-square {
    width: 90vw;
    height: 80vh;
    border: 2px solid red;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
  }
  